<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.common.cook.umeng">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <meta-data
            android:name="umeng_app_key"
            android:value="5b3db8b88f4a9d740d000071"
            />

        <activity
            android:name="com.common.cook.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1106630088" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

    </application>

</manifest>
